@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=VT323");

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

th, td {
  padding: 15px;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.05;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #7c7c7c;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: #7c7c7c;
}

p {
  font-size: 0.8em;
  letter-spacing: 0px;
  text-align: center;
  font-weight: normal;
  color: #7c7c7c;
}

#photorcorners {
  border-radius: 25px;
  border: 1px solid #33cccc;
}

#logo_h2 {
  color: #9932CC;
  font-size: 2.5em;
  font-family: 'VT323', monospace;
  vertical-align: middle;
  text-align: center;
  float: left;
  padding-left: 10px;
}

#logo_h2:hover {
  opacity: 0.8;
  text-decoration: none;
}

.resume_icon_css {
  width: 110px;
  height: 74px;
  background: url("../images/icons/resume.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.resume_icon_css:hover {
  background: url("../images/icons/resume_black.png") no-repeat;
  background-size: 100% 100%;
}

.cv_icon_css {
  width: 58px;
  height: 68px;
  background: url("../images/icons/cv.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.cv_icon_css:hover {
  background: url("../images/icons/cv_black.png") no-repeat;
  background-size: 100% 100%;
}

.googlescholar_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/googlescholar.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.googlescholar_icon_css:hover {
  background: url("../images/icons/googlescholar_black.png") no-repeat;
  background-size: 100% 100%;
}

.researchgate_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/researchgate.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.researchgate_icon_css:hover {
  background: url("../images/icons/researchgate_black.png") no-repeat;
  background-size: 100% 100%;
}

.semanticscholar_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/semanticscholar.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.semanticscholar_icon_css:hover {
  background: url("../images/icons/semanticscholar_black.png") no-repeat;
  background-size: 100% 100%;
}

.linkedin_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/linkedin.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.linkedin_icon_css:hover {
  background: url("../images/icons/linkedin_black.png") no-repeat;
  background-size: 100% 100%;
}

.github_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/github.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.github_icon_css:hover {
  background: url("../images/icons/github_black.png") no-repeat;
  background-size: 100% 100%;
}

.twitter_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/twitter.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.twitter_icon_css:hover {
  background: url("../images/icons/twitter_black.png") no-repeat;
  background-size: 100% 100%;
}

.instagram_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/instagram.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.instagram_icon_css:hover {
  background: url("../images/icons/instagram_black.png") no-repeat;
  background-size: 100% 100%;
}

.rarible_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/rarible.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.rarible_icon_css:hover {
  background: url("../images/icons/rarible_black.png") no-repeat;
  background-size: 100% 100%;
}

.soundcloud_icon_css {
  width: 40px;
  height: 40px;
  background: url("../images/icons/soundcloud.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.soundcloud_icon_css:hover {
  background: url("../images/icons/soundcloud_black.png") no-repeat;
  background-size: 100% 100%;
}

#spcl-fnt {
  font-family: 'VT323', monospace;
}

.btn {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  float: center;
  &:hover {
    opacity: 0.7;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #7c7c7c;
}
